//$--md-fade-transition: transform 100ms cubic-bezier(0.23, 1, 0.32, 1), opacity 100ms cubic-bezier(0.23, 1, 0.32, 1);
//$--all-transition: all .15s cubic-bezier(.645,.045,.355,1);
//$--fade-transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1);


$--md-fade-transition: none;
$--all-transition: none;
$--fade-transition: none;