html, body {
    height: 100%;
}

html {
    font-size: 10px * $font-scale;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
   -moz-appearance: textfield;
}

body {
   font-size: $font-size;
   overflow-x: hidden;
   font-family: $font-family;
   font-weight: normal;
   line-height: $line-height;
   min-width: 850px + $padding * 2;
   color: $font-color-black;
   background-color: aliceblue;
}

#app {
   min-height: 100%;
   width: 100%;
   box-sizing: border-box;
   padding: $padding;
   display: flex;
   overflow-x: hidden;
   flex-wrap: wrap;
   // flex-direction: column;
   // justify-content: space-between;
   position: relative;
}

.container {
   width: 100%;
   max-width: $content-width;
   min-width: 320px;
   margin: 0 auto;
   position: relative;

   @include media-max($content-width + $padding * 2) {
      padding-left: $padding;
      padding-right: $padding;
   }
}

.aligh-center {
   text-align: center;
   justify-content: center;
}

.invoice-fields-box {
   margin: 0 auto $padding * 2;
}

.invoice-fields {
   //margin: 105px auto 0 $padding * 0.5;
   margin-top: $padding;
   width: 800px;
   height: 100%;

   &__title-line {
      font-weight: 500;
      display: flex;
      align-items: center;
      margin: $padding * 2.5 0 $padding * 2;

      &::after,
      &::before {
         content: '';
         width: auto;
         flex: 1;
         height: 1px;
         margin-right: 12px;
         background-color: #e8e8e8;
      }

      &:after {
         margin-right: 0;
         margin-left: 12px;
      }
   }
}

.input-label {
   display: block;
   margin-bottom: $padding * 0.25;
}

.inlain-label {
   display: inline-block;
   margin-bottom: $padding * 0.25;
}

.el-select {
   width: 100%;
}

.fields-row {
   margin-bottom: $padding * 2;
}

.currency-select {
   margin-bottom: $padding * 1.5;
   margin-left: $padding;
   max-width: 150px;
}

.inline-input {
   display: block;
}

@include media-max(1510px) {
   .invoice-fields {
      width: 700px;
   }
}

@include media-max(1439px) {
   .invoice-preview-box {
      width: 100%;
   }

   .invoice-fields-box {
      width: 100%;
   }

   .invoice-fields {
      width: 850px;
      margin-left: auto;
      margin-right: auto;
   }

   .invoice-container {
      margin: 0 auto;
      //padding: 0 !important;
   }
}
